[Unit]
Description=ambari-server
After=ambari-db
Requires=ambari-db

[Service]
Type=oneshot
RemainAfterExit=true
TimeoutStartSec=20m
ExecStartPre=-rm /tmp/ambari-server.signal
ExecStartPre=-/usr/bin/docker rm ambari-server
ExecStartPre=/usr/bin/bash -c "/usr/bin/docker run \
                           --name ambari-server \
                           --detach \
                           --restart unless-stopped \
                           --network host \
                           --add-host $(hostname):127.0.0.1 \
                           --volume /var/run/ambari-server:/var/run/ambari-server \
                           --volume /tmp:/tmp \
                           ${ambari_server_docker_image} \
                           sh -c 'ambari-server setup --database=postgres \
                                                      --databasehost=localhost \
                                                      --databaseport=5432 \
                                                      --databasename=ambari \
                                                      --databaseusername=${ambari_db_username} \
                                                      --databasepassword=${ambari_db_password} \
                                                      --silent && \
                                  ambari-server start && \
                                  touch /tmp/ambari-server.signal && \
                                  while ambari-server status > /dev/null; do sleep 5; done'"
ExecStart=/usr/bin/bash -c "while [ ! -f /tmp/ambari-server.signal ]; do sleep 5; done"
ExecStop=/usr/bin/docker stop ambari-server

[Install]
WantedBy=multi-user.target
